<!-- Fonts -->
<!-- note: Can't be loaded in-line due to fontawesome using relative URL's -->
{{- $fontLora := resources.GetRemote "https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&display=swap" }}
{{- $fontOpenSans := resources.GetRemote "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap" }}
{{- $fontBundle := slice ($fontLora) ($fontOpenSans) | resources.Concat "css/fonts.css" }}
{{- $fontAwesome := resources.GetRemote "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.css" }}
{{- $fontAwesome := slice ($fontAwesome) | resources.Concat "css/fontawesome.css" }}
{{- if .Site.IsServer }}
<link rel="preload" href="{{ $fontBundle.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $fontBundle.RelPermalink }}"></noscript>
<link rel="preload" href="{{ $fontAwesome.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $fontAwesome.RelPermalink }}"></noscript>
{{- else }}
{{-   $fontBundle := $fontBundle | postCSS | minify | fingerprint }}
<style>{{ $fontBundle.Content }}</style>
{{-   $fontAwesome := $fontAwesome | postCSS | minify | fingerprint }}
<link rel="preload" href="{{ $fontAwesome.RelPermalink }}" integrity="{{ $fontAwesome.Data.Integrity }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link defer rel="stylesheet" href="{{ $fontAwesome.RelPermalink }}" integrity="{{ $fontAwesome.Data.Integrity }}"></noscript>
{{- end }}
<!-- End Fonts -->
