{{- $main := resources.Match "css/*.css" | resources.Concat "css/main.css" }}
{{- $bootstrap := resources.GetRemote "https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" }}
{{- $cssBundle := slice ($main) ($bootstrap) | resources.Concat "css/bundle.css" }}

{{- if .Site.Params.useHLJS }}
{{-   $highlight := resources.GetRemote "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/default.min.css" }}
{{-   $cssBundle := slice ($cssBundle) ($highlight) | resources.Concat "css/bundle.css" }}
{{- end }}

{{- if .Site.IsServer }}
<noscript><link href="{{ $cssBundle.RelPermalink }}" rel="stylesheet"></noscript>
<link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
{{- else }}
{{-   $cssBundle := $cssBundle | minify | fingerprint | resources.PostProcess }}
<noscript><link href="{{ $cssBundle.RelPermalink }}" integrity="{{ $cssBundle.Data.Integrity }}" rel="stylesheet"></noscript>
<link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}"  integrity="{{ $cssBundle.Data.Integrity }}" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
{{- end }}
